.header{
    background-color: yellow;
    width: 700px;
    padding: 7px;
    margin: 0 auto;
}
.ota{
    display: flex;
    gap: 12px;
    margin-left: 403px;

    
}   
.sidebar{
    background-color: rgb(0, 89, 116);
    width: 140px;
    margin-top: 10px;
    
}
.Welcome{
    background-color: green;
    width: 553px;
    margin-top: 10px;
    padding-left: 10px;
}
/* 693 */

.footer{
    background-color: orange;
    padding: 5px;
    width: 705px;
    margin: 0 auto;  
    margin-top: 10px;  
}